.app_todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.app_todo input,
.todo_title {
  font-size: 1.5rem;
}

.todo_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.todo_title {
  padding: 2%;
  font-weight: 700;
}

.todo_list {
  width: 100%;
}

.todo_list button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
