.app_location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.app_weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.weather_info {
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
